<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://stubbornthoughts.files.wordpress.com/2013/02/ihavenoideawhatimdoingthread_06af9676f192d84f17cf5a5816dc7523.jpg</string>
	<string>http://sunnylol.com/images/2013/April/6/515f726a7087d.jpg</string>
	<string>http://www.memecreator.org/static/images/memes/2725833.jpg</string>
	<string>https://s-media-cache-ak0.pinimg.com/736x/17/2f/6b/172f6be11092b99e22a252bca40de74a.jpg</string>
</array>
</plist>
